{% extends 'base.html.twig' %}

{% block body %}

    <h1>Cours du semestre {{ semestre.nomSemestre }} de la formation {{ semestre.nomFormation }} </h1>

    <div class="row">
        {% for cour in semestre.cours %}
            {{ include('cours/carte_cour.html.twig') }}
        {% endfor %}
    </div>

{% endblock %}