{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste de tous les semstres</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Formation</th>
            <th scope="col">Nom Semestre</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for semestre in semestres %}
            <tr>
                <th scope="row">{{ semestre.id }}</th>
                <td>{{ semestre.nomFormation }}</td>
                <td>{{ semestre.nomSemestre }}</td>
                <td><a class="btn btn-primary" href="{{ path('semestre_cour', {'id' : semestre.id}) }}">Cours du semstre</a></td>
                <td><a class="btn btn-danger" href="{{ path('semestre_delete', {'id' : semestre.id}) }}">Supprimer le Semestre</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}