<div class="card border-primary text-white mb-3 bg-dark" style="max-width: 18rem; margin-right: 1em; margin-left: 1em;">
    {% if cour.semestre is not null %}
    <div class="card-header">{{ cour.semestre.nomFormation}} - {{ cour.semestre.nomSemestre }}</div>
    {% else %}
    <div class="card-header"></div>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ cour.nom }}</h4>

        <p class="card-text ">{{ cour.description | markdown_to_html | truncate(30,true) |raw }}</p>
{#text-truncate#}
        <a class="btn btn-primary" href="{{ path('cour', {'id': cour.id}) }}"> Détails</a>
    </div>
</div>