{% extends 'base.html.twig' %}

{% block body %}
{% if cour.semestre is not null %}
    <h1> {{ cour.semestre.nomFormation }} - {{ cour.semestre.nomSemestre }} </h1>
    {% else %}
    <h1> Pas de nom de formation - Pas de nom de semestre </h1>
{% endif %}
<h2> {{ cour.nom }} </h2>
<p> {{ cour.description | markdown_to_html }} </p>
<a class="btn btn-danger" href="{{ path('cours_delete', {'id' : cour.id}) }}">Supprimer le Cours</a>

{% endblock %}