{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste de tous les cours</h1>

        <div class="row">
        {% for cour in cours %}

            {{  include('cours/carte_cour.html.twig') }}

        {% endfor %}
        </div>


{% endblock %}